/*this is component level css file. it does not impact other components*/

header {
    background-color: black;
    color: white;
    align-content: center;
    min-height: 50px;
    padding: 15px;
}