/*this is global css and these css classes are applicable globally to all the components*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
}

input[type=button] {
    background-color: green;
    color: white;
}